/* RESET DE CONFIGURAÇÕES GERAIS PARA OS NAVEGADORES. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6494ed3a;
    background-image: url("assets/pngtree-contemporary-minimalist-white-wall-texture-picture-image_13452757.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 50px;
    margin: 20px;
}

p {
    text-align: justify;
    font-size: 15px;
    font-family: 'sans-serif';
    margin: 20px;
    color: black;
}

hr {
    max-width: 50%;
    margin: 20px auto;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 5px auto;
    color: brown;
}

button {
    display: block;
    height: auto;
    margin: 20px auto;
    padding: 5px 30px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}


ol {
    margin: 10px auto;
    padding: 30px auto;
    margin-bottom: 30px;
    text-align: center;
    list-style-position: inside;
}

li {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

h3 {
    text-align: center;
    color: blue;
    margin: 15px;
}

img {
    display: block;
    max-width: 300px;
    margin: 10px auto;
}

input-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

input[type="text"] {
    margin: 0px auto;
    text-align: center;
    border-radius: 3px;
    outline: none;
    display: block;
}