
/* RESET DAS CONFIGURAÇÕES DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    font-family: "Comic Sans MS";
}

.index {
    background-image: url("assets/fundo.jpg");    
}

.segunda-pagina {
    background-image: url("assets/fundo2.jpg");    
}

h2 {
    text-align: center;
    font-size: 60px;
    font-family: "Gigi";
}

p {
    text-align: justify;
    font-size: 15px;
    margin: 20px 70px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
 }

 img {
    display: block;
    max-width: 300px;
    margin: 10px auto;
 }

 button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 30px;
 }

 ol {
    padding: 30px auto;
    text-align: center;
    list-style-position: inside;
 }

 li {
    font-size: 15px;
    font-weight: bold;
    color: red;
 }

 .titulo-pag-2 {
    color: blue;
 }
